@charset "UTF-8";


body{ background-color: rgb(203, 176, 228);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}   

h1{
    color: darkgreen;
    background-color: blueviolet;
}

h2{
    color: brown;
}

p{
    color: tomato;
}